# For the version with or without auth.
VITE_AUTH_ENABLED=true

# Specify the full base URL of the backend.
VITE_API_BACKEND_URL=http://example.com:7373

# Specify the full base URL of the statistics service.
VITE_API_STATS_URL=http://example.com:5757

# Pre-installation of default data (Optional).
VITE_DEFAULT_STATS_URL=http://example.com:5757/api/statistics
VITE_DEFAULT_STATS_ACCUM_PERIOD=60
VITE_DEFAULT_STATS_MEDIA_PERIOD=30
VITE_DEFAULT_STATS_NETWORK_PERIOD=30
