# For the version with or without auth.
VITE_AUTH_ENABLED=true

# Specify the full base URL of the backend.
VITE_API_BACKEND_URL=http://127.0.0.1:7373

# Specify the full base URL of the statistics service.
VITE_API_STATS_URL=http://127.0.0.1:5757