# Byte-compiled
__pycache__/

# Unit test / coverage reports
.pytest_cache

# PyCharm
.idea/

# Distribution / packaging
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Environments
.env
.venv
venv/
env/
